@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @apply bg-dark font-sans min-h-screen;
    margin: 0;
  }

  #root {
    @apply w-full min-h-screen;
  }

  input, button {
    border: none;
    outline: none;
  }
}
